# 전체 도메인의 기본 Mock 설정입니다.
VITE_USE_MOCK_API=true

# 도메인별로 실제 API 준비 상태가 다를 때 개별 설정합니다.
VITE_USE_MOCK_AUTH_API=false
VITE_USE_MOCK_BOARD_API=true
VITE_USE_MOCK_USER_API=false

# Swagger 서버
VITE_API_BASE_URL=http://70.12.247.162:8080
