
# ================= PostgreSQL DB =====================
PORT=3000
DATABASE_URL=postgresql://root:root@localhost:5432/test

# ==================== Spring JWT =====================
SPRING_JWKS_URL=http://localhost:8080/.well-known/jwks.json
JWT_ISSUER=a707-api
JWT_YJS_AUDIENCE=a707-yjs

# ===== Yjs internal API =====
YJS_INTERNAL_BASE_URL=http://localhost:3000
YJS_INTERNAL_TOKEN=local-yjs-internal-token

# ==================== Test ===========================
TEST_PORT=3210
TEST_DATABASE_URL=postgresql://root:root@localhost:5432/test

